name: ciflow_mac_extra

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

on:
  pull_request:
    types: [unlabeled]
  push:
    branches:
      - master
      - main

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/debug-action@v2
  label_guard:
    runs-on: ubuntu-latest
    needs: [debug]
    if: >-
      github.event_name != 'pull_request' ||
      (startWith(github.event.label.name, 'ciflow:') && contains(github.event.label.name, '#extra'))
    steps:
      - run: echo "noop"
  mac_extra_1:
    needs: [label_guard]
    runs-on: ubuntu-latest
    steps:
      - run: sleep 30s
  mac_extra_2:
    needs: [label_guard]
    runs-on: ubuntu-latest
    steps:
      - run: sleep 30s
