name: ciflow_lint

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

on:
  pull_request:
    types: [unlabeled]
  push:
    branches:
      - master
      - main

jobs:
  label_guard:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || contains(github.event.payload.label.name, 'ci/default')
    steps:
      - run: echo "noop"
  lint_1:
    needs: [label_guard]
    runs-on: ubuntu-latest
    steps:
      - run: sleep 30s
  lint_2:
    needs: [label_guard]
    runs-on: ubuntu-latest
    steps:
      - run: sleep 30s